<h1>Pages#contact</h1>

<p><%= number_to_phone "5555555555"%></p>

<p><%= number_to_currency "250"%></p>

<p><%= number_with_delimiter "16165146513524465185"%></p>

<div class ="col-md-6">
 <iframe src ="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3658.139332535054!2d-46.67820728574786!3d-23.527490540936032!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce57fc31de4ac5%3A0x678314d7727e4f98!2sR.+Bar%C3%A3o+de+Tef%C3%A9+-+%C3%81gua+Branca%2C+S%C3%A3o+Paulo+-+SP%2C+Brazil!5e0!3m2!1sen!2sus!4v1502295876791" 
  width="450" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>