<div class="inner cover">
   <h1 class="cover-heading">Little of me</h1>
   <p class="lead"> BLa bla bla bla bla bla</p>
     <p class="lead">
     <a href="/about-me" class="btn btn-lg btn-secondary">Learn more</a>
    </p>
</div>

